
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Serif Pro', serif;
    /* border: 1px solid red;  */
}
h1 { 
    font-weight: bold;
    text-align: center;
}
h3 {
    font-weight: bold;
}
h2{
    font-weight: bold;
}
.main_page_wrapper {
    display: flex;
    color:white;
}
.main_page_wrapper a { 
    color:darkgrey;
}
.about_header {
    display: flex;
}
.about_wrapper {
    display: flex;
    flex-direction: column;
}
.about_content {
    margin: 2.5%;
    padding: 2.5%;
}
.about_contact_map {
    display: flex;
    flex-direction: row;
}
.google_maps {
    width: 45%;
    height: 45%;
    color: black;
    overflow: hidden;
    margin-top: -15%;
    padding: 1%;
}
.google_maps p {
    margin: 1%;
}
.about_blank_dude {
    display: flex;
    flex-direction: row;
    margin: 2.5%;
}
.about_blank_dude img{
    width:20%;
    padding: 2.5%;
    border-radius: 50%;
}
.about_contact { 
    display: flex;
    flex-direction: column;
    width:45%;
}
ul {
    list-style: none;
}
ul a {
    text-decoration: none;
    font-weight: bold;
}
#social_media {
    height: 35px;
    border-radius: 20%;
}
.navigation { 
    padding: 2.5%;
    margin: 2.5%;
    color:darkgrey;
    border: 1px solid darkgrey;
    border-radius: .5em;
    text-shadow: .5px .5px black;
    font-weight: bold;
    font-size: 110%;
}
.navigation a {
    color:darkgrey;
}
.navigation {
    width:14%;
    height: 75px;
}
.cart_wrapper {
    display: flex;
}
.cart_lower_section {
    display: flex;
    flex-direction: column;
}
.cart_upper_section {
    display: flex;
    height: 10%;
    width: 100vw;
}
#cart_lower_center { 
    padding: 1.5%;
    margin: 2%;
    text-align: center;
}
.cart_lower_section ul img {
    height: 150px;
    border-radius: 50%;
}
#cart_logo2 {
    height: 55%;
}
#checkout_button {
    width:10%;
    font-weight: bold;
}
.products_wrapper {
    display: flex;
    flex-direction: column;
}
.products_header {
    display: flex;
}
#products_category {
    margin: 10px;
    padding: 10px;
}
.product_wrapper {
    display: flex;
}
#login {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%;
    padding: 10px;
    margin: 10px;
}
#login a { 
    color: blue;
    font-weight: bold;
    font-size: 125%;
}
.register_page_wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
#add_items {
    margin: 10px;
}
#remove_items {
    margin:10px;
}
.officer_page_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#special_h2 {
    text-align: center;
}
#special_h2 a {
    color: blue;
}
.footer_contact {
    position:fixed;
    padding: 5px;
    bottom:0px;
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: space-evenly;
}