
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Serif Pro', serif;
    border: 1px solid red;
}
h1 { 
    font-weight: bold;
    justify-content: center;
}
h3 {
    font-weight: bold;
}
h2{
    font-weight: bold;
}
.main_page_wrapper {
    display: flex;
    color:white;
}
.main_page_wrapper a { 
    color:darkgrey;
}
.about_wrapper {
    display: flex;
    flex-direction: column;
}
.about_content {
    margin: 2.5%;
    padding: 2.5%;
}
.about_contact_map {
    display: flex;
    flex-direction: row;
}
.google_maps {
    width: 45%;
    height: 45%;
    margin: 2.5%;
    color: black;
    position: relative; 
    overflow: hidden;
}
.about_blank_dude {
    display: flex;
    flex-direction: row;
    margin: 2.5%;
}
.about_blank_dude img{
    width:20%;
    padding: 2.5%;
    border-radius: 50%;
}
.about_contact { 
    display: flex;
    flex-direction: column;
    width:45%;
}
ul {
    list-style: none;
}
ul a {
    text-decoration: none;
    font-weight: bold;
}
#social_media {
    height: 35px;
    border-radius: 20%;
}
.navigation { 
    padding: 2.5%;
    margin: 2.5%;
    color:darkgrey;
    border: 1px solid darkgrey;
    border-radius: .5em;
}
.navigation a {
    color:darkgrey;
}
.cart_wrapper {
    display: flex;
    overflow: hidden;
}
.cart_lower_section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.cart_lower_section h1 {
    height: 10%;
    width: 100vw;
}
.cart_lower_section ul img {
    height: 20%;
}
#cart_logo2 {
    height: 65%;
    overflow: hidden;
}