
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Serif Pro', serif;
}
h1 { 
    font-weight: bold;
    justify-content: center;
    
}
h3 {
    font-weight: bold;
}
h2{
    font-weight: bold;
}
.google_maps {
    width: 50%;
    height: 50%;
    margin: 2.5%;
    color: black;
    position: relative; 
    overflow: hidden
}
.page_wrapper {
    display: flex;
    justify-content: space-between;
}
.logo img { 
    border-radius: 20px;
    height: 45%;
    
}
.main_page_wrapper {
    display: flex;
}
